@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-slate-900;
  }
  p {
    @apply text-slate-600;
  }
  th,
  td {
    @apply px-4 py-3 text-center;
  }
}

* {
  color: rgb(15 23 42);
  box-sizing: border-box;
}

main * {
  color: rgb(56, 56, 56);
}

:root {
  --red: rgb(220, 38, 38);
}

main:not(.icon) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-image {
  background-size: cover;
  background-position: 10% 80%;
  background-repeat: no-repeat;
}

.letter-animation {
  animation: slideIn 0.9s forwards;
  opacity: 0;
}

.delay-small {
  animation-delay: 0.25s;
}
.delay-medium {
  animation-delay: 0.5s;
}
.delay-large {
  animation-delay: 0.75s;
}

.delay-xl {
  animation-delay: 1s;
}

.delay-xxl {
  animation-delay: 1.25s;
}

.button-animation {
  opacity: 0;
  animation: slideIn 0.9s forwards 0.6s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
  position: relative;
}

.selected {
  background-color: rgb(226 232 240);
}

.check-out-bar {
  transform-origin: right;
  transition: 0.5s;
}

.open {
  animation: slideInBar 0.2s forwards ease-in;
}

.closed {
  animation: slideOutBar 0.2s forwards ease-in;
}

@keyframes slideInBar {
  from {
    transform: translateX(-101%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutBar {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-101%);
  }
}
